.left-sidebar{
    width: 242px;
    height: calc(100vh - 60px);
    background: #111111;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding:0.7vw;
    gap: 16px;
}
.left-sidebar-content{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}
.left-sidebar-google-meet{
    width: 218px;
    height : 80px;
    background: #171717;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color: white;
    padding :12px;
}
.left-sidebar-google-meet-time{
    display: flex;
    font-size: 12px;
    flex-direction: column;
    align-self: flex-start;
    gap: 6px;
}
.left-sidebar-google-meet-time > h6{
    font-size: 12px;
    font-weight: 600;
}
.left-sidebar-google-meet-time> p{
    font-size: 12px;
    font-weight: 100;
    color: #919191;
}
.left-sidebar-google-meet> button{
    width: 41px;
    height: 25px;
    border-radius: 8px;
    background: #111111;
    color: white;
    font-weight: bold;
}
.left-sidebar-menu{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}
.left-sidebar-menu-list{
    width: 222px;
    height: 23px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
}
.left-sidebar-menu-item{
    display: flex;
    align-items: center;
}
.left-sidebar-menu-item>h1{
    font-size: 12px;
    font-weight: normal;
}
.chat-sidebar-profile{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom:25px;
}