.mainPage{
    display: flex;
    justify-content: space-between;
    background-color: #0A0A0A;
}
.chat{
    height: calc(90vh - 60px);
    min-width: calc(97vw - 544px);
    width: calc(100vw - 302px);
    display: grid;
    align-items: center;
    justify-content: center;
}