.chatList-container {
    height: 95%;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: scroll;
    padding-top: 22px;
    gap: 1rem;
    box-sizing: border-box;
    -ms-overflow-style: none; /* 인터넷 익스플로러 */
    scrollbar-width: none; /* 파이어폭스 */
}
.chatList-container::-webkit-scrollbar {
    display: none;
}
.chatList-container-box{
    min-height: 100px;
    width: calc(97vw - 544px);
}