.chatMessage-container {
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 16px;
}
.chatMessage-contents{
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 45%;
}
.chatMessage-contents-job{
    width : 12px;
    height : 12px;
    border : 1px solid black;
    border-radius: 50%;
    margin-right: 4px;
}
.chatMessage-contents-timeStamp{
    font-size: 12px;
    color: #919191;
    margin-left: 8px;
    align-self: flex-end;
}
.chatMessage-emotion{
    display: flex;
    gap: 8px;
    align-items: center;
}
.chatMessage-emotion-item{
    width: 50px;
    height: 25px;
    border-radius: 100px;
    background: #171717;
    display: flex;
    align-items: center;
    justify-content: center;
}