.chatInput-container {
    width: calc(95vw - 544px);
    height: 74px;
    background: #171717;
    border-radius: 12px;
    align-self: end;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0.7rem;
    justify-content: center;
}
.chatInput-container>input{
    width: 97%;
    border: none;
    background: none;
    outline: none;
    color: white;
}
.chatInput-function{
    display: flex;
    gap: 8px;
}