.recruitmentList-container{
    width: calc(100vw - 60px - 242px);
    height: calc(100vh - 60px);
    background: #0A0A0A;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 1rem;
    gap: 24px;


}
.recruitmentList-search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}
.recruitment-button{
    color: #00E984;
    font-size: 16px;
    font-weight: normal;
    width: 154px;
    height: 38px;
    background: #171717;
}
.my-button{
    color: #00E984;
    font-size: 16px;
    font-weight: normal;
    width: 95px;
    height: 38px;
    background: #171717;
}
.recruitmentList-search>input{
    width: calc(98% - 168px);
    height: 38px;
    border-radius: 12px;
    border: none;
    padding-left: 16px;
    background: #171717;
    color: white;
}
.recruitmentList-search>input::placeholder{
    color: #919191;
    font-size: 16px;
    font-weight: lighter;
}
.recruitmentList-search>input:focus{
    outline: none;
}
.recruitmentList-recently-posts{
    width: 98%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.recruitmentList-recently-postlist{
    height: 210px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 13px;
    overflow: scroll;
    -ms-overflow-style: none; /* 인터넷 익스플로러 */
    scrollbar-width: none; /* 파이어폭스 */
    flex-wrap: wrap;
}
.recruitmentList-top-posts{
    width: 98%;
}
.recruitmentList-top-postlist{
    height: 420px;
    width: 100%;
    padding : 10px ;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 13px;
    overflow: scroll;
    -ms-overflow-style: none; /* 인터넷 익스플로러 */
    scrollbar-width: none; /* 파이어폭스 */
    flex-wrap: wrap;
    box-sizing: border-box;
}

.recruitmentList-modal{
    background: #171717;
    border-radius: 16px;
    padding: 24px;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    z-index: 1000;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    gap: 32px;
}
.blur {
    filter: blur(5px);
    -webkit-filter: blur(5px);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7); /* 부드러운 그림자 추가 */
}


.recruitmentList-modal-con,
.recruitmentList-modal-contents {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.recruitmentList-modal-con > input,
.recruitmentList-modal-contents > input {
    border: none;
    background: #111111;
    color: white;
    padding-left: 16px;
    border-radius: 12px;
}
.recruitmentList-modal-con > h1, .recruitmentList-modal-contents>h1{
    font-size: 14px;
    font-weight: normal;
}
.name > input{
    width: 100%;
    border: none;
    background: #111111;
    height: 38px;
    color: white;
    padding-left: 16px;
}
.recruitmentList-modal-con> input:focus, .recruitmentList-modal-contents> input:focus{
    outline: 1px solid #00E984;
}
.description > input{
    height: 82px;
    width: 100%;
    text-align: start;
}
.date, .rolesNrequirement{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    gap: 10px;
}

.recruitmentList-modal-contents{
    display: flex;
    flex-direction: column ;
    width: 50%;
}
.recruitmentList-modal-contents>input{
    height: 38px;
    padding-right: 10px;
    box-sizing: border-box;
    color: #919191;
}
.roles-list{
    display: flex;
    min-width: 100%;
    overflow-x: scroll;
    gap: 8px;
    max-height: 25px;
    scrollbar-width: none;
}
.role-item{
    min-width: 130px;
    display: flex;
    align-items: center;
    height: 25px;
    background: #0A0A0A;
    border-radius: 8px;
    padding: 4px 8px;
    justify-content: space-between;
}
.file-label{
    width: 100%;
    height: 160px;
    background: #111111;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: #919191;

}
.file-previews{
    display: flex;
    width: 100%;
    overflow-x: scroll;
    min-height: 160px;
    align-items: center;
}
.saveNcancel{
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.recruitmentList-modal-contents-cancel{
    background: #111111;
    width: 83px;
    height: 38px;
    border-radius: 12px;
    color: #919191;
    font-size: 16px;
    font-weight: normal;

}
.recruitmentList-modal-contents-save{
    background: #00E984;
    width: 69px;
    height: 38px;
    border-radius: 12px;
    color: black;
    font-size: 16px;
    font-weight: normal;
}

.recruitmentList-Detailmodal{
    background: #171717;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    padding: 24px;
    border-radius: 16px;
}
.recruitmentList-Detailmodal h1{
    font-size: 16px;
    font-weight: 100;
    color: #919191;
}
.recruitmentList-Detailmodal p{
    font-size: 20px;
    font-weight: normal;
    color: white;
}
.recruitmentList-Detailmodal .title{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 24px;
}
.recruitmentList-Detailmodal .image{
    width: calc((100% - 14px )/3);
}
.recruitmentList-Detailmodal .imageList{
    display: flex;
    gap: 7px;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
}
.recruitmentList-Detailmodal .description{
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: center;
    width: 100%;
    margin-bottom: 32px;
}
.recruitmentList-Detailmodal .timelineNroles{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;
}
.recruitmentList-Detailmodal .timeline{
    width: 50%;
    justify-content: start;
    gap: 4px;
    flex-direction: column;
    display: flex;
}
.recruitmentList-Detailmodal .roles{
    width: 50%;
    justify-content: start;
}
.recruitmentList-Detailmodal .period{
    display: flex;
    align-items: center;
}
.recruitmentList-Detailmodal .role{
    width: 127px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0a0a0a;
    color: white;
    font-size: 14px;
    border-radius: 8px;
}
.recruitmentList-Detailmodal .rolescon{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.recruitmentList-Detailmodal .roleslist{
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 8px;
}
.recruitmentList-Detailmodal .requirement{
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
}
.recruitmentList-Mymodal{
    padding: 24px;
    border-radius: 16px;
    width: 850px;
    height: 725px;
    background: #171717;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    color: white;
}
.recruitmentList-Mymodal h1{
    font-size: 20px;
}
.recruitmentList-Mymodal p{
    font-size: 14px;
    font-weight: normal;
    color: #919191;
}
.recruitmentList-Mymodal span{
    height: 25px;
    padding: 4px 8px;
    border-radius: 8px;
    color: white;
    font-size: 12px;
    background: #171717;
}
.recruitmentList-Mymodal .title{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 26px;
}
.recruitmentList-Mymodal .contents{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.recruitmentList-Mymodal .content-container{
    width: 100%;
    height: 200px;
    background: #0a0a0a;
    padding: 16px;
    display: flex;

    border-radius: 12px;
}
.recruitmentList-Mymodal .nameNcontent{
    display: flex;
    flex-direction: column;
    width: 355px;
    height: 100%;
    gap: 4px;
    margin-right: 77px;
}
.recruitmentList-Mymodal .rolesCon{
    display: flex;
    gap: 8px;
    margin-top: auto;
}
.recruitmentList-Mymodal .image {
    width: 286px;
    height: 168px;
    flex-wrap: wrap;
    display: flex;
    gap: 17px; /* 이 속성으로 위아래 및 양옆 갭을 설정 */
    margin-right: 16px;
}

.recruitmentList-Mymodal .image > img {
    width: 134px; /* 갭을 반영하여 너비 조정 */
    height: 76px;
}
.recruitmentList-Mymodal .buttons{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.recruitmentList-Mymodal .buttons>button{
    width: 36px;
    height: 36px;
    background: #171717;
    border-radius: 8px;
}